[submodule "enrol/autoenrol"]
	path = enrol/autoenrol
	url = https://github.com/bobopinna/moodle-enrol_autoenrol
[submodule "mod/Surveypro"]
	path = mod/Surveypro
	url = https://github.com/kordan/moodle-mod_surveypro
	branch = master
[submodule "mod/moodleoverflow"]
	path = mod/moodleoverflow
	url = https://github.com/learnweb/moodle-mod_moodleoverflow
	branch = master
[submodule "mod/reengagement"]
	path = mod/reengagement
	url = https://github.com/catalyst/moodle-mod_reengagement
	branch = master
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire
	branch = master
[submodule "mod/subcourse"]
	path = mod/subcourse
	url = https://github.com/mudrd8mz/moodle-mod_subcourse
	branch = master
[submodule "admin/tool/webanalytics"]
	path = admin/tool/webanalytics
	url = https://github.com/catalyst/moodle-tool_webanalytics
	branch = master
[submodule "theme/essential"]
	path = theme/essential
	url = https://github.com/gjb2048/moodle-theme_essential
	branch = master
[submodule "theme/fordson"]
	path = theme/fordson
	url = https://github.com/dbnschools/moodle-theme_fordson
	branch = moodle36
[submodule "blocks/xp"]
	path = blocks/xp
	url = https://github.com/FMCorz/moodle-block_xp
	branch = v3.6.1
[submodule "blocks/configurable_reports"]
	path = blocks/configurable_reports
	url = https://github.com/jleyva/moodle-block_configurablereports
	branch = MOODLE_36_STABLE
